In [7]:
import pandas as pd
#https://stackoverflow.com/questions/54383305/merge-two-csv-files-based-on-a-data-from-the-first-column

# Read the files into two dataframes.
df1 = pd.read_csv('fdata.csv')
df2 = pd.read_csv('ref.csv')

# Merge the two dataframes, using _ID column as key
df3 = pd.merge(df1, df2, on = 'Country Code')
#df3.set_index('ID_', inplace = True)
df3.drop('2022', axis=1, inplace=True)

In [8]:
df4=df3.melt(id_vars=["Country Name", "Country Code","Indicator Name", "Indicator Code","Region","IncomeGroup","SpecialNotes","TableName","Unnamed: 5"], 
        var_name="Year", 
        value_name="Value")

In [9]:
df3.to_csv('data.csv')

In [10]:
df4.to_csv('data3.csv')

In [13]:
df5=df4.groupby(by=["Region","Year"])

In [17]:
df5['Value'].mean()

Region               Year
East Asia & Pacific  1960    5.882176
                     1961    5.807882
                     1962    5.859529
                     1963    5.858735
                     1964    5.765294
                               ...
Sub-Saharan Africa   2017    4.489771
                     2018    4.424167
                     2019    4.358583
                     2020    4.290500
                     2021    4.227750
Name: Value, Length: 434, dtype: float64

In [26]:
df6=df4.groupby(by=["Region","Year"])['Value'].mean().reset_index()

In [27]:
df6.to_csv('region.csv')